@media (max-width: 600px) {
    body {
        padding: 0px;
        width: 100%;
        height: 100%;
        line-height: 1.5; /* improve line spacing */
        background-color: #f0f0f0; /* Light background for mobile */
        font-size: 16px; /* Increase font size for readability */
    }
}


body{
    background-color: rgb(212, 219, 211);
    height: 100%;
    width: 100%;
    justify-content: center;
    
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


header{
    background-image: url(/images/back1.jfif);
    background-size: cover;
    background-repeat: repeat;
    padding: 0%;
    margin: 0%;
    color: #f0f0f0;
}


.animate{
    display: block;
    background-size: cover;
    color: rgb(41, 39, 30);
}
   

.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5%;
    transition: background-color 0.3s;
    padding-top
}


.button{
    border-radius: 5px;
    border-width: 30px;
    padding: 10px 20px;
    border: none
}


.container{
    mix-blend-mode: multiply;
    width: 0%;
    height: 0%;
    padding: 0%;
      
}


.stage{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
}


.log{
    display: flex;
    width: 80px;
    height: 35px;
    mix-blend-mode: multiply;
    
}


main{
    text-align: center;
    max-width: fit-content;
    padding: 0%;
    
}


.container1{
    background-image: url(/images/anim3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    border-radius: 0px;
    text-align: center;
    
}


.grid-container{
    border-radius: 0px;
    font-display: 2px;
    color: honeydew;
    flex-wrap: wrap;
    background-color: rgb(126, 104, 161);
    
}


.sec{
    display: flex;
}


.icons{
    align-items: center;
    box-shadow: 30px;
    text-align: center;
    display: flexbox;
    background-color: rgb(235, 191, 191);
    
}


.last-line{
    background-color: white;
    border-radius: 20px;
    
}


.last-line2{
    background-attachment: fixed;
    background-color: white;
    background-size: cover;
}


.color{
    text-align: left;
}



section{
    font-display: center;
    box-sizing: border-box;
    background-color: white;

}


.section1{
    text-align: center;
    background-color: white;
    width: 90%;
    height: 10%;
    mix-blend-mode: multiply;
}


.step{
    justify-items: center;
    width: 0%;
    height: 0%;

}


.place{
    background-image: url(/images/anim2.jpg);
}


.support{
    justify-content: center;

}


.ticket{
    justify-content: center;
    background-color: white;
    border-radius: 0%;
    width: 90%;
    height: 500%;
    margin: auto;
}


.last{
    background-color: white;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    justify-content: center;
}


.side-text{
    text-align: justify;
    text-justify: distribute;
}


.about{
    background-color: bisque;
    background-size: cover;
    box-sizing: border-box;
    display: flexbox;
    margin: 20px;
    padding: 20px;
    
}



footer{
    background-color: rgb(47, 129, 98);
    color: #f0f0f0;
       
}


.last-logo{
    height: 0%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    mix-blend-mode: multiply;
}


.end{
    display: flex;
    flex-direction: column;
}


@media screen  and (min-width: 600px) {
    body{
        font-size: 20px;
    }
}


header{
    text-align: left;
    background-image: url(/images/image3.jpg);
    background-size: cover; /* or 'contain' */
    background-repeat: no-repeat;
    
    
}


.container{
    justify-items: left;
    padding: 0px;
    height: 0%;
    width: 20%;
    transform-origin: top left;
    transform: scale(0.5);
}


.navbar{
    border-right: ; color: tomato;
    justify-content: 0.5%;
    margin-right: 5%;
    margin-left: 15%;
    
}


.stage{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    flex-wrap: wrap;
    
}


.button-one{
    box-shadow: 0 4px 4px;

}


.grid{
    display: flex;
    margin: 5%;
}


.animate{
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    
}



.log{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
   
}


.small{
    color: #c03030;
    justify-content: end;
}


.color{
    text-justify: newspaper;
    width: 600px;
}


.rate{
    margin-top: 20%;
    margin-bottom: 10%;
}


main{
   justify-content: right;
    
}



.container1{
    justify-content: space-between;

}


.rate{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.grid-container{
    justify-content: space-between;
    display: flex;
    height: 100px;
    color: black;
    background-color: aquamarine;
    margin-bottom: 5%;
    padding: 25px;
}


.sec{
    display: flex;
    font-size: 15px;
    gap: 20%;

}


.icons{
    background-color: white;
    text-align: center;
    gap: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    
}



.line22{
    text-align: center;
    box-shadow: 0 4px 4px;
    border: 5px;
    gap: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
     
}


.line11{
    mix-blend-mode: multiply;
    text-align: center;
    gap: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 4px 4px;
     
}


.last-line{
    mix-blend-mode: multiply;
    text-align: center;
    gap: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 4px 4px;
     
    
}


.started{
    mix-blend-mode: multiply;
    box-shadow: 0 4px 4px;
    text-align: center;
    gap: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
     
}


.just{
    mix-blend-mode: multiply;
    box-shadow: 0 4px 4px;
    text-align: center;
    gap: 2%;
    margin-top: 5%;
    margin-bottom: 5%; 

}


.none{
    mix-blend-mode: multiply;
    box-shadow: 0 4px 4px;
    text-align: center;
    gap: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
     
}


.color{
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}


.container1{
    justify-content: left;
    display: flex;
    justify-content: space-between; 
  
}


.container2{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5;
    display: flex;
    font-size: 15px;
    height: 100%;
}


.long{
    display: flex;

}


.line1{
    display: flex;
    width: 600px;
    height: 100px;
    padding: 2%;
    border: 2px;
    border-radius: 5px;
    text-align: right; 

}


.line2{
    display: flex;
    width: 600px;
    height: 100px;
    padding: 2%;
}


.line3{
    padding: 2%;
    height: 100px;
    width: 600px;
    display: flex;
 
}


.img22{
    height: 100vh;
    height: 100%;
    width: 100%;
    
}



section{
    box-shadow: 0 4px 4px blue;
 
}


.step{
    align-items: flex-start;
    width: 100%;
    height: 100%;
}


.section1{
    display: flex; 
    flex-wrap: wrap;
    gap: 2%;
 
}


.form{
    display: flex;
    gap: 500px;
}


.product{
    height: 50vh;
    width: 40vh;
    display: flex;
    margin-top: 3%;

}


.top{
    justify-content: center;
    display: flex;
    
}

.product2{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    margin-left: 50%;
    margin-bottom: 5%;
    
}


.easy{
    margin-top: 3%;

}


.step2{
    
}


.step3{
    
}


.step4{
    


}

.place{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/images/new44.jfif);
    width: 100%;
    height: 50%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    border-radius: 2%;
}
.read{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    mix-blend-mode: multiply;

}


.support{
    box-shadow: 0 4px 4px;
    border-radius: 5px;
    margin-top: 5%;
    margin: 5%;
    text-align: center;
    background-color: yellowgreen;
    padding: 2%;
     
}


.ticket{
    border-radius: 5px;
    margin-top: 5%;
    margin: 5%;
    text-align: center;
    margin-bottom: 10%;
    padding: 2%;
   
}


.last{
    box-shadow: 0 4px 4px;
    border-radius: 5px;
    margin-top: 5%;
    margin: 5%;
    text-align: center;
    background-color: yellowgreen;
    padding: 2%;
   
}


article{
    text-align: center;
    display: flex;  

}


.about{
    display: flex;
    box-shadow: 0 4px 4px;
     
}

.base{
    width: 90vh;
    height: 70vh;
    
}


.min{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}


.sub{
    border-radius: 30%;
    width: 20%;
    height: 20%;
    object-fit: cover;
    display: flex;
    margin-top: 30%;

}


.one{
    justify-content: center;
}


.group{
    display: flex;
    gap: 50px;
}


.sub2{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border-radius: 100%;
    display: flex;
    margin-top: 30%;
}


footer{
    background-color: #c03030;
    color: black;
    mix-blend-mode: multiply;
}


.last-logo{
    width: 60%;
    height: 150px;
    justify-items: left;
    mix-blend-mode: multiply;
    padding: 2%;
    margin-top: 1px;
    margin-bottom: 1px;
    gap: 1%;
    text-wrap: 2%;
    transform-origin: left;
    transform: scale(0.5);
    
}


.made{
    margin-top: 10%;
    margin-bottom: 5%;
    padding: 3%;
    font-size: 40px;
}


.xan{
    transform: scale(0.5);
    transform-origin: left;

}


.work{
    display: flex;
}

.round{
    display: flex;
    text-align: left;
    justify-content: space-between;
}


.mini{
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}


.end{
    display: flex;
}
